@page{
	margin: 2px 25px 50px 25px; 
}
.w-1 {
    width: 1%;
}

.w-2 {
    width: 2%;
}
.w-3 {
    width: 3%;
}
.w-4 {
    width: 4%;
}
.w-5 {
    width: 5%;
}
.w-6 {
    width: 6%;
}
.w-7 {
    width: 7%;
}
.w-8 {
    width: 8%;
}
.w-10 {
    width: 10%;
}
.w-20 {
    width: 20%;
}
.w-25 {
    width: 25%;
}
.w-30 {
    width: 30%;
}
.w-35 {
    width: 35%;
}
.w-40 {
    width: 40%;
}
.w-50 {
    width: 50%;
}
.w-60 {
    width: 60%;
}
.w-65 {
    width: 65%;
}
.w-70 {
    width: 70%;
}
.w-80 {
    width: 80%;
}
.w-90 {
    width: 90%;
}
.w-100 {
    width: 100%;
}
.icon-gatwick-image {
    overflow: visible !important;
    background-repeat: no-repeat;
    width: 400px;
    background-size: contain;
    background-position: center top;
    height: 75px;
    text-align: center;
    margin: 0 auto;
    margin-top: 0px;
}
.new-starter-form{
	margin-bottom:10px;
}
.new-starter-form-title-table .table-bordered1 tr th{
    border-bottom: none;
    border-top: none;
}
.table>tbody>tr>td{
    border-top: none;
}
.new{
    text-decoration: underline;
    font-size: 16px;
}
.note1,.note2{
    font-size: 12px;
}
.underline{
    text-decoration: underline;
}
.dotted-line{
    border-bottom: 1px solid #000;
    border-bottom-style: dotted;
    border-spacing: 5px;
    color: red;
}
.new-starter-form-signature-date .table-bordered1 tr th{
    border-bottom: none;
}
.table-bordered tr{
    font-size: 12px;
}
.gatwick{
    margin-bottom: 100px;
}
.new-starter-form-title-table{
    margin-bottom: 40px;
}
.managerTitle
{
    padding: 0px 0px 3px 15px;
    background-color: #548ED4;
    border-radius: 8px;
    border: 1px solid #000;
    color: #fff !important;
    margin-bottom: 10px;
}
.input2 {
    background: #D9D9D9;
    border-radius: 7px;
    width: 100%;
    height: 20px;
    margin-left: -31px;
	border: 1px solid #000;
	padding:7px;
}
.margin
{
    margin-top: 0px;
}
.rotate {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 1.5em;
}
.rotate div {
    -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
    -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
    margin-left: -10em;
    margin-right: -10em;
    margin-top: 0em;
}
.bigHeading
{
    height: 70px;
    text-align: center;
}
.backgroundRow
{
        background: #538dd5;
    color: #000;
    text-align: center;
}
.indent
{
    text-indent: 40px;
}
.innerColor
 {
    background: #558ed5;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 7px 3px 5px 10px;
    color: #fff;
}
.mainBorder
{
    border: 1px solid #000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.header-title
{
    color: #fff !important;
}
.inputBack
{
    padding: 0px;
    background: #D9D9D9;
}
.input1 {
    height	: 60px;
    width	: 390px;
    border-radius: 15px;
    border	: 1px solid #000;
	padding	: 10px 0px 0px 0px;
}
.height{
    height: 30px;
    background-color: #337ab7;
    margin-top: 10px;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #000 !important;
}
td, th {
    padding: 8px !important;
}
body{
	margin: 0px;
    color: #000 !important;
    font-size: 14px;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif  !important; 
}
.arialTable
{
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif !important; 
}
.margin1
{
    margin-top: 10px;
}

.divBordernew
{
    border: 1px soldi #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blueBack
{
background: dodgerblue;
}
 
 table {
    border-collapse: separate !important;
    border-spacing: 0;
    width: 100%;
}
.bordered {
    border: solid #131212 1px;
    -moz-border-radius: 6px;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    background: #ccc;
}
.bordered tr:hover {
    background: #ECECEC;    
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
.bordered th {
    border-top: none;
    background-color: #548ED4;
    color: #fff !important;
    text-align: center;
}
.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}
.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    border-top-left-radius: 10px;
}
.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    border-top-right-radius: 10px;
}
.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

div.customtd {
    background: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    height: 50px;
	padding:5px;
}
#footer 
{ 
	position: fixed; 
	left: 0px; 
	bottom: -180px; 
	right: 0px; 
	height: 150px;
	font-size : 8px;
}